@use '@angular/material' as mat;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.5rem;
}

h3 {
  margin-bottom: 0; }

.tags {
  margin: 0.15rem 0 0.5rem;

  @include mat.button-overrides((
    outlined-container-height: 1.5rem,
  ));
}

app-article-score {
  position: relative;
  top: 7px; }

.list-item-icon {
  position: relative;
  top: 4px;
}

.positive {
  --mat-list-list-item-leading-icon-color: var(--color-good);
  --mat-list-list-item-hover-leading-icon-color: var(--color-good); }

.incomplete {
  --mat-list-list-item-leading-icon-color: var(--color-normal);
  --mat-list-list-item-hover-leading-icon-color: var(--color-normal); }

.negative {
  --mat-list-list-item-leading-icon-color: var(--color-bad);
  --mat-list-list-item-hover-leading-icon-color: var(--color-bad); }
