mat-toolbar-row {
  white-space: initial; }

.topics {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0; }

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.markdown-body {
  padding: 0.5rem;
  border: 1px solid color-mix(in srgb, var(--mat-sys-surface), var(--mat-sys-on-surface) 10%);
  border-radius: 3px;
  --bgColor-default: color-mix(in srgb, var(--mat-sys-surface), var(--mat-sys-on-surface) 5%);
}

.markdown-body.dark {
  color-scheme: dark;

  --fgColor-default: var(--mat-sys-on-surface);

  --fgColor-muted: #1b1b1b;
  --borderColor-default: #30363d;

  & ::ng-deep pre  {
    color: var(--mat-sys-on-surface);
    background-color: var(--mat-sys-surface);

    code {
      color: var(--mat-sys-on-surface); }
    code, .token {
      text-shadow: none; }
    .token.operator {
      background-color: transparent; }
  }
}
