h3 {
  margin-bottom: 0;
}
.month {
  width: 182px;

  .day {
    margin: 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border: thin solid grey;
  }
}
