:host {
  --footer-height: 4rem;
}

.layout-main {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: color-mix(in srgb, var(--mat-sys-surface), var(--mat-sys-on-surface) 10%);

  .content {
    min-height: calc(100dvh - var(--footer-height));
    margin-left: auto;
    margin-right: auto;
    width: var(--layout-content-width);
    padding: 0 0.5rem var(--footer-height);
    background-color: var(--mat-sys-surface);
    box-sizing: border-box;
  }

}

.footer-wrapper {
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--elevation-1-floor);

  .footer {
    margin: 0 auto;
    width: var(--layout-content-width);
    overflow-x: auto; }

    app-navbar {
      background-color: var(--mat-sys-surface); }
}


@media (pointer: coarse) {
  .layout-main {
    .footer {
      padding-bottom: 1rem;
      padding-bottom: calc(env(safe-area-inset-bottom)); }
  }
}
