:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layout-main {
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: hidden;

  .content {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    padding: 0.5rem;
    overflow: auto;
  }

  .footer {
    width: 100%;
    align-self: end;
  }
}

@media (pointer: coarse) {
  .layout-main {
    .footer {
      padding-bottom: 1rem;
      padding-bottom: calc(env(safe-area-inset-bottom)); }
  }
}
